<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Dashboard</title>
</head>

<body>
    <!-- Navigation Bar -->
    <div class="navBar">
        <img src="../static/images/logo.png" alt="logo">
    </div>

    <!-- Navigation Bar Spacing -->
    <div style="height: 60px;"></div>

    <div class="container" style="margin-top: 0px;">
        <h1>Dashboard</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam accusantium ipsa, necessitatibus iure fugiat
            illo impedit veritatis cum, culpa nesciunt quisquam numquam perferendis assumenda veniam possimus, suscipit
            maiores eum harum!</p>
    </div>

    <!-- Traffic Light -->
    <div class="box" id="trafficLight">
        <h2 style="margin-top: 0;">Traffic Light</h2>
        To Be Added.
    </div>

    <!-- URL/QR Input -->
    <div class="box">
        <form action="" id="pageScanner">
            <h2 style="margin-top: 0;">Page Scanner</h2>
            <label for="url"><b>Enter target page URL</b></label>
            <input style="margin-top: 10px;" type="text" placeholder="Enter URL" name="url" id="url"
                oninput="canScan()">
            <div style="height: 15px;"></div>
            <label for="qr"><b>Upload QR code</b></label>
            <input style="margin-top: 10px;" type="file" name="qr" id="qr" onchange="canScan()">
            <sub>Uploaded Images are not retained.</sub>
            <br>
            <button disabled style="margin-top: 20px;" type="submit" id="scan">Scan</button>
        </form>
    </div>

    <div class="box">
        <form action="" id="emailScanner">
            <h2 style="margin-top: 0;">Phishing Email Scanner</h2>
            <label for="phishing"><b>Enter target content to scan</b></label>
            <textarea style="margin-top: 10px;" name="phishing" id="phishing" placeholder="Enter email or SMS content" rows="10" oninput="canScan1()"></textarea>
            <br>
            <button disabled style="margin-top: 20px;" type="submit" id="scan1">Scan</button>
        </form>
    </div>
    
    <footer class="footer">
    
    </footer>
    
    <script>
        function canScan1() {
            const urlInput = document.getElementById('phishing');
            const submitButton = document.getElementById('scan1');
            if (urlInput.value !== '') {
                submitButton.disabled = false;
            } else {
                submitButton.disabled = true;
            }
        }
    </script>    

    <script>
        function canScan() {
            const urlInput = document.getElementById('url');
            const fileInput = document.getElementById('qr');
            const submitButton = document.getElementById('scan');
            if (urlInput.value !== '' || fileInput.files.length > 0) {
                submitButton.disabled = false;
            } else {
                submitButton.disabled = true;
            }
        }
    </script>

</html>

<style>

</style>