<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Forgot Password</title>
</head>

<body>
    <!-- Navigation Bar -->
    <div class="navBar">
        <img src="../static/images/logo.png" alt="logo">
    </div>

    <!-- Navigation Bar Spacing -->
    <div style="height: 60px;"></div>

    <div id="popup" hidden>
        <div class="popup">
            <div>
                <h2>Password Reset Requested</h2>
                <p>Please check your email for details on how to reset your password for your account.</p>
                <br>
                <form action="sign_in.html">
                    <button onclick="g">Done</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Account Creation Input -->
    <div class="box">
        <form action="" id="signInForm">
            <h2 style="margin-top: 0;">Forgot Password</h2>
            <label for="email"><b>Email Address</b></label>
            <input style="margin-top: 10px;" type="email" placeholder="Enter Email" name="email" id="email"
                oninput="canResetPassword()" required>
            <button disabled style="margin-top: 20px;" type="submit" id="signInButton">Reset Password</button>
        </form>
    </div>

    <footer class="footer"></footer>

    <script>
        function canResetPassword() {
            const emailInput = document.getElementById('email');
            const submitButton = document.getElementById('signInButton');

            const allFieldsFilled = emailInput.value !== '';

            submitButton.disabled = !allFieldsFilled;
        }
    </script>

    <script>
        document.getElementById('signInButton').addEventListener('click', function (event) {
            event.preventDefault(); // Prevent form submission
            document.getElementById('popup').hidden = false;
        });

        function closePopup() {
            document.getElementById('popup').hidden = true;
        }
    </script>

</html>

<style>

</style>