<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>{% block title %}{% endblock %}</title>
    <meta name="keywords" content="YouthxHack, PhishNet, Phishing, Scam, Digital Defence">
    <meta name="description" content="Phishnet. A tool to protect you online.">
    <meta name="author" content="Segmentation Fault">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.png') }}">
    {% block head %} {% endblock %}
</head>

<body>
    <div id="popup">
        <div class="popup">
            <form id="reportUrl">
                <h2>Report URL</h2>
                <input id="urlReport" type="text" placeholder="Enter URL to report">
                <br><br>
                <button id="submitReportButton" disabled>Report</button>
            </form>
            <button id="cancelButton" style="margin-top: 10px;">Cancel</button>
        </div>
    </div>

    <div class="container">
        <button id="openReportButton">Report URL</button>
    </div>

    <!-- Navigation Bar -->
    <header>
        <nav class="navBar">
            <div class="loginWrapper">
                <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo"></a>
                <a class="loginbtn" href="{{ url_for('dashboard') }}" style="margin-left: 10px;">App</a>
            </div>
            <div class="loginWrapper">
                <a class="loginbtn" href="{{ url_for('login') }}">Login</a>
                <a class="loginbtn" href="{{ url_for('signup') }}">Sign Up</a>
                <a href="{{ url_for('logout') }}" style="display: flex; justify-content: center; align-items: center;"><img style="height: 35px;" src="{{ url_for('static', filename='images/logout.webp') }}"></a>
            </div>
        </nav>
    </header>

    <!-- Navigation Bar Spacing -->
    <div style="height: 60px;"></div>

    <main>{% block body %} {% endblock %}</main>

    <footer class="footer-container">
        © 2024 All Rights Reserved.
    </footer>

    <script>
        document.getElementById('openReportButton').addEventListener('click', () => {
            document.getElementById('popup').style.display = 'flex';
        });

        document.getElementById('cancelButton').addEventListener('click', () => {
            document.getElementById('popup').style.display = 'none';
        });

        const urlReportInput = document.getElementById('urlReport');
        const submitReportButton = document.getElementById('submitReportButton');

        urlReportInput.addEventListener('input', () => {
            submitReportButton.disabled = urlReportInput.value.trim() === '';
        });
        const form = document.getElementById("reportUrl");
        form.addEventListener("submit", async (ev) => {
            ev.preventDefault();

            let res = await fetch("/report", {
                method: "POST",
                headers: {
                    "Content-Type": "text/plain"
                },
                body: document.getElementById("urlReport").value
            });
            res = await res.json();
            console.log(res);
            if(res['success'] === "true") {
                alert("Your report has been submitted! An administrator will take a look and approve it if it's appropriate.")
            }
            else {
                alert("There was an error submitted your report. Contact us if issues persist.")
            }
        });
    </script>
</html>