{% extends 'base.html' %}

{% block title %} Forget Password {% endblock %}

{% block head %} {% endblock %}

{% block body %} 
    <!-- Account Creation Input -->
    <div class="box">
        <form method="post" id="signInForm">
            <h2 style="margin-top: 0;">Forgot Password</h2>
            <label for="email"><b>Email Address</b></label>
            <input style="margin-top: 10px;" type="email" placeholder="Enter Email" name="email" id="email"
                oninput="canResetPassword()" required>
            <button disabled style="margin-top: 20px;" type="submit" id="signInButton">Reset Password</button>
            {% if not_exist %}
            <p style="text-align: center; color: red;">Email has not registered for an account</p>
            {% endif %}
        </form>
    </div>

    <script>
        function canResetPassword() {
            const emailInput = document.getElementById('email');
            const submitButton = document.getElementById('signInButton');

            const allFieldsFilled = emailInput.value !== '';

            submitButton.disabled = !allFieldsFilled;
        }
    </script>
{% endblock %}