{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block head %} {% endblock %}

{% block body %} 
    <!-- Account Creation Input -->
    <div class="box">
        <form method="post" id="signInForm">
            <h2 style="margin-top: 0;">Login</h2>
            <label for="email"><b>Email Address</b></label>
            <input style="margin-top: 10px;" type="email" placeholder="Enter Email" name="email" id="email"
                oninput="canSignIn()" required>
            <div style="height: 15px;"></div>
            <label for="password"><b>Password</b></label>
            <input style="margin-top: 10px;" type="password" placeholder="Enter Password" name="password" id="password"
                oninput="canSignIn()" required>
            <div style="height: 5px;"></div>
            <button disabled style="margin-top: 20px;" type="submit" id="signInButton">Login</button>
            <p style="text-align: center;">Don't have an account? Sign up <a href="{{ url_for('signup') }}">here</a>. <br>Forgot password? Reset <a href="{{ url_for('forgetpassword') }}">here</a>.</p>
            <p style="text-align: center; color: red;">
                {{ msg }}
                {% if reverify %}
                    Click <a href="/">here</a> to resend verification if you need.
                {% endif %}
            </p>
        </form>
    </div>

    <script>
        function canSignIn() {
            const emailInput = document.getElementById('email');
            const passwordInput = document.getElementById('password');
            const submitButton = document.getElementById('signInButton');

            const allFieldsFilled = emailInput.value !== '' && passwordInput.value !== '';

            submitButton.disabled = !allFieldsFilled;
        }
    </script>
{% endblock %}